:root {
    font-size: 18px;
    --main-color: #ffac04;
    --text-color: #6e6e6e;
    --color-blue-BV: #0167bb;
    --color-HDSD-text-title: #096dd9;
    --color-step-text: #595959;
    --input-icon-color: linear-gradient(
            25deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(35, 20, 152, 0) 43%,
            rgba(0, 189, 255, 0.9360119047619048) 100%
    );
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    border: none;
    font-weight: 300;
    line-height: normal;
    font-family: "Inter", sans-serif;
    font-feature-settings: "clig" off, "liga" off;
}

.background-main-content .block {
    justify-content: start;
}

.background-main-content.content-index {
    min-height: max-content;
    background: var(--color-blue-BV);
}

.container-block-item > div > div {
    border: 1px solid transparent;
}

.container-block-item > div > div:hover img,
div {
    border: 1px solid transparent;
}

.background-main-content .block > div > strong {
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
}

.block {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.block > div:last-child {
    border-bottom: 1px dashed white;
    margin-bottom: 20px;
    padding: 10px 0;
}

.block img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
}

.sub-title-banner {
    color: #5b5a5a;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-title {
    color: #fff;

    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.background-main-page {
    width: 100vw;
    /*height: 100vh;*/
    display: flex;

    /*min-height: max-content;*/
    flex-direction: column;
    /*position: fixed;*/
    top: 0;
}

body {
    width: 100vw;
    /*height: 100vh;*/

    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.background-footer {
    background-color: var(--color-blue-BV);
    height: 50px;
    padding: 20px;
    width: 100vw;
}

.page-step .background-phone-image {
    display: none;
}

.page-step .title-page {
    margin-bottom: 10px;
}

.background-phone-image {
    display: flex;

    align-items: end;
    justify-content: center;
}

.container-block-item {
    max-width: 1120px;
    margin: auto;
    padding: 24px;
}

.block img,
.block > div {
    width: 327px;
}

.block img {
    border-radius: 10px;
    object-fit: cover;

    height: 174px;
}

.background-banner-content {
    display: flex;
    flex-direction: column;
    padding: unset;
}

.phone-image {
    width: 215px;
    height: 313px;
    object-fit: contain;
}

.background-banner-title {
    padding: 25px;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

.background-banner-title h1:nth-of-type(1) {
    color: #0167bb;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 140% */
}

.background-banner-title h1:nth-of-type(2) {
    color: #b58d11;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2px;
    white-space: nowrap;
    margin-bottom: 5px;
}

.background-main-content,
.banner,
.background-logo-icon,
.background-banner-title {
    flex-grow: 1;
}

.background-main-page:not(.page-step) .banner {
    background-image: url("../img/HDSD/trang index/gradient-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*menu item page*/
.list-menu-background {
    max-width: 270px;
    /*min-width: max-content;*/
    /*float: right;*/
}

.background-main-page.page-step .background-main-content,
.page-step .background-banner-content > .background-logo-icon {
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-step .banner {
    height: auto;
    max-height: max-content;
    min-height: max-content;
    padding-top: 0;
    padding-bottom: 0;
}

.page-step .title-content {
    color: rgba(89, 89, 89, 1);
    font-feature-settings: "clig" off, "liga" off;

    font-style: normal;
    font-weight: 500;

    line-height: normal;
}

.title-page {
    color: var(--color-HDSD-text-title);
    font-feature-settings: "clig" off, "liga" off;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.list-menu-background .menu-title {
    color: var(--color-HDSD-text-title);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.background-main-content .list-menu-background .block > div {
    padding: 10px 0;
}

.list-menu-background .block .font-bold {
    color: #272727;
    text-align: left;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

/*carousel example*/

.background-carousel {
    width: 300px;
    max-width: max-content;
    /*border: 1px solid black;*/
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
}

.mobile-icon {
    /*border: 1px solid black;*/
    color: orange;
    padding: 10px;
    position: relative;
}

.mobile-title h1.title-page {
    padding-bottom: 0;
    margin-bottom: 5px;
}

.background-carousel-image {
    position: absolute;
    border: none;
    outline: none;
    outline: 0;
    width: 175%;
    top: 5%;
    height: 100%;
    left: -37.5%;
    background-image: url("../img/HDSD/trang index/gradient-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.carousel-inner {
    width: 262px;
    height: 100%;
    margin: auto;
    display: flex;
    /*border: 1px solid black;*/
}

.background-carousel-content {
    min-width: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    position: relative;
    color: #595959;
}

.carousel-item * {
    line-height: 25px;
    color: #595959;
}

.carousel-item .carousel-item-icon {
    max-width: 25px;
    max-height: 25px;
    object-fit: contain;
}

.carousel .carousel-indicators button {
    width: 20px;
    height: 0;
    background: lightslategray;
    color: lightslategray;
    border-radius: 100%;
    transform: scale(0.4);
}

.carousel .carousel-indicators button.active {
    transform: scale(0.8);
    color: var(--color-HDSD-text-title);
    background: var(--color-HDSD-text-title) !important;
    background-color: var(--color-HDSD-text-title) !important;
    border-color: var(--color-HDSD-text-title) !important;
}

.carousel-indicators {
    margin-bottom: -1.25rem;
}

.carousel-indicators button {
    border-color: lightslategray !important;
}

.carousel-item-title {
    position: absolute;
    bottom: 000px;
    left: 0;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#myCarousel {
    /*width: 366px;*/
    height: max-content;
    padding: 0;
    z-index: 11;
}

#myCarousel img {
    /*height: 600px;*/
    width: 266px;
    margin: auto;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 50%;
}

.carousel-control-prev {
    transform: translateY(-50%) translateX(50%);
}

.carousel-control-next {
    transform: translateY(-50%) translateX(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

/* style for stepper  */
.stepper-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1;
    position: relative;
}

/* stepper for not responsive */
.stepper-item-index {
    display: flex;
    min-width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-HDSD-text-title);
    background: #e6f7ff;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.stepper-item-content {
    padding: 10px 0;
    min-height: 100px;
}

.stepper-item-content > div:first-child ul {
    margin-left: 10px;
    padding-left: 20px;
}

.line-break {
    display: none;
}

.line-break.mobile {
    display: unset;
}

.stepper-item.active .stepper-item-index {
    /* background: red; */
    background-color: var(--color-HDSD-text-title);
    color: white;
}

.stepper-item.active .stepper-item-content {
    color: var(--color-HDSD-text-title);
}

.stepper-item.active .stepper-item-content p {
    font-weight: 600;
}

span.user-plus-icon {
    padding: 3px;
    border-radius: 50%;
    background: var(--color-HDSD-text-title);
    margin: 0 5px;
}

span.user-plus-icon .fa-solid {
    transform: scale(0.7);
    color: white;
}

span.fa-solid-ellipsis-vertical {
    padding: 2px 10px;
    border: 1px solid gray;
    background: white;
    color: gray;
    border-radius: 5px;
}

.background-stepper-content div:not(.stepper-item-index),
.background-stepper-content ul,
.background-stepper-content li {
    flex-direction: row;
    color: #595959;
}

.line {
    position: absolute;
    width: 2px;
    /* background-color: black; */
    z-index: 0;
    top: 25px;
    left: 25px;
    border: 1px dashed #d9d9d9;
    opacity: 0.5;
}

.background-stepper {
    display: none;
    width: 60%;
    padding: 0;
    position: relative;
}

.background-stepper-content,
.list-menu-background {
    display: none;
}

.list-menu-background .text-left {
    max-width: 300px;
    white-space: pre-wrap;
    display: flex;
    text-align: left;
    justify-content: left;
}

.background-block .text-left strong,
span {
    font-size: 16px;
    font-weight: normal;
    white-space: unset;
    text-align: left;
    color: white;
}

.stepper-item-content > div > span:first-child {
    color: unset;
}

.stepper-item-content > div:first-child li,
.carousel-list-content li {
    font-size: 14px;
    font-style: italic;
    list-style-type: disc;
    font-weight: 400;
    line-height: 25px;
}

.page-step .banner {
    height: 110px;
    max-height: 110px;
}

.page-step .banner .container-block-item {
    height: inherit;
}

.background-main-content {
    /*position: relative;*/
    z-index: 5;
}

.footer-extra {
    position: absolute;
    background: var(--color-blue-BV);
    width: 100vw;
    height: calc(100% - 500px);
    top: 520px;
    left: 0;
    content: "";
    display: none;
}

.page-step,
.background-main-content {
    padding-top: 0;
}

.page-step .banner,
.page-step .background-footer {
    display: none;
}

@media screen and (min-width: 576px) {
    .background-main-page:not(.page-step) {
        max-width: 1440px;
        max-height: 1100px;
    }

    .background-main-page:not(.page-step) .banner {
        background-image: url("../img/HDSD/trang index/final-background-2.png");
        border: transparent;
        background-size: cover;
        background-position: right;
        /*background-repeat: no-repeat;*/
    }

    .background-main-content .block {
        justify-content: center;
    }

    .background-banner-title {
        justify-content: flex-start;
    }

    .block > div:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .background-banner-title h1:nth-of-type(1),
    .background-banner-title h1:nth-of-type(2),
    .background-banner-title div,
    h1.title-page {
        text-align: left;
        margin-bottom: 15px;
    }

    .background-banner-title h1:nth-of-type(1) {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
        /* 72.917% */
    }

    .background-banner-title h1:nth-of-type(2) {
        color: #b58d11;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 2px;
        margin-bottom: unset;
    }

    .phone-image {
        width: 310px;
        height: 451px;
        object-fit: contain;
    }

    .banner {
        /*background-color: #ccc; !* Màu nền của banner *!*/
        height: calc(50vh);
        min-height: 520px;
        width: 100%;
    }
}

div .banner * {
    padding-left: 0;
    padding-right: 0;
}

div .banner .container-block-item {
    padding-left: 24px;
    padding-right: 24px;
}

@media screen and (min-width: 768px) {
    .text-title,
    .title-page {
        font-size: 30px;
    }
    .mobile-icon{
        display: none;
    }

    .background-carousel-image {
        background-position: top;
        top: 0;
        background-image: url("../img/HDSD/trang index/gradient-step-4.png");
    }

    .page-step .banner,
    .page-step .background-footer {
        display: unset;
    }

    div .banner .container-block-item {
        padding-left: 30px;
        padding-right: 30px;
    }

    /*.background-logo-icon {*/
    /*    margin-left: -5px;*/
    /*}*/
    .page-step .background-phone-image {
        display: unset;
    }

    .background-phone-image {
        margin: 30px 0;
    }

    .page-step .background-banner-content {
        margin: 30px auto;
    }

    .col.list-menu-background img {
        min-width: 263px;
    }

    .title-page {
        line-height: 50px;
        text-align: left;
    }

    .line-break.mobile,
    .carousel-indicators {
        display: none;
    }

    .stepper-item-content p,
    .stepper-item-content > div:first-child span,
    * {
        line-height: 25px;
        font-size: 18px;
    }

    .page-step .title-content {
        font-size: 20px;
    }

    .sub-title-banner {
        font-size: 24px;
    }

    .list-menu-background .block img,
    .block > div {
        width: unset;
    }

    .background-block {
        padding: inherit 0;
    }

    .block img {
        border-radius: 10px;
        object-fit: cover;
        width: 261px;
        height: 140px;
    }

    .background-stepper-content,
    .list-menu-background {
        display: unset;
    }

    .background-banner-title h1:nth-of-type(2) {
        white-space: unset;
        margin-bottom: 20px;
    }

    .block > div:last-child {
        margin-bottom: 0;
    }

    .page-step .background-main-content {
        padding: 30px;
    }

    .background-banner-content > .background-logo-icon {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .container-block-item {
        padding: 0;
    }

    .banner .container-block-item {
        padding: 0 20px;
    }

    .page-step .background-main-content {
        height: calc(100vh - 160px);
        max-height: calc(100vh - 160px);
        overflow: auto;
    }

    .background-footer {
        padding: 0;
        position: fixed;
        bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    .banner-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /*border: 1px solid black;*/
        height: 90%;
    }

    .banner .container-block-item {
        padding: unset;
    }

    .block > div:last-child {
        padding: unset;
    }

    .background-block {
        padding: 0 5px;
    }

    .background-carousel-content {
        min-width: unset;
        margin: auto;
        float: left;
        display: none;
    }

    .background-stepper {
        display: unset;
    }

    .background-stepper-content {
        max-width: unset;
        width: 100%;
        gap: 50px;
    }

    .background-banner-title h1:nth-of-type(1),
    .background-banner-title h1:nth-of-type(2),
    .background-banner-title div {
        white-space: nowrap;
    }

    div:not(.page-step) .container-block-item > div:first-child {
        /* flex-direction: column; */
        justify-content: unset;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .banner .container-block-item {
        padding: 0 20px;
    }
}

@media screen and (min-width: 1200px) {
    .background-block .text-left {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .footer-extra {
        display: unset;
    }

    div.page-step .banner .container-block-item {
        padding-left: 0;
        padding-bottom: 0;
    }

    .banner .container-block-item {
        padding: 0 5px;
    }

    .background-phone-image {
        margin: unset;
    }

    div:not(.page-step) .banner .container-block-item {
        padding: 30px 0;
    }

    .list-menu-background .menu-title {
        line-height: 45px;
    }

    .background-banner-title,
    .background-banner-content > .background-logo-icon,
    .background-banner-content {
        padding: 0;
    }

    .line-break {
        display: unset;
    }

    .background-main-page {
        margin: auto;
        display: flex;
        min-height: max-content;
    }

    .block h2 {
        text-align: center;
    }

    .block h2 {
        margin-top: 10px;
        /* Khoảng cách từ tiêu đề đến hình ảnh */
    }
}

/*scale up screen responsive*/
@media screen and (min-height: 900px) and (min-width: 768px) {
    .background-main-page {
        height: 100vh;
        top: 0;
    }

    .body-step {
        overflow: hidden;
    }

    .banner .container-block-item {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .banner {
        height: 520px;
        max-height: 520px;
    }

    body {
        height: 100vh;
    }
}

.icon-step img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}
